body {
    background-color: rgb(19, 23, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: white;
    font-family: poppins;
    font-size: 64px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-button {
    width: 500px;
}