body {
    background-color: rgb(19, 23, 26);
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    font-family: poppins;
}

button:hover {
    transform: scale(110%);
    background-color: rgb(186, 186, 186);
}

button:active {
    transform: scale(90%);
}

button {
    transition: transform 0.2s, background-color 0.2s !important;
}

h1 {
    color: white;
    font-size: 64px;
}

h2 {
    color: white;
    font-size: 46px;
}